<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kidoneself.question.mapper.QuestionMapper">
    <select id="getQuestionList" resultType="com.kidoneself.question.modle.dto.QuestionDto">
        SELECT *, 100 / #{limit} as score
        FROM questions
        where month_num = #{month}
        ORDER BY RAND()
            LIMIT #{limit};
    </select>
</mapper>